@import "../common/vars"

.lk
    min-height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between

    main
        min-height: calc(100vh - 129.4px)
        box-sizing: border-box
        position: relative
        overflow: hidden

    @media screen and (max-width: $sm)
        main
            min-height: calc(100vh - 108.4px)

        .modal-form
            &-submit
                font-size: 14px

.logout-modal
    &__dialog
        margin-left: -15px
        margin-right: -15px
        display: flex

        &-button
            width: 50%

            &:first-child
                border-radius: 0px 0px 0px 3px

            &:last-child
                border-radius: 0px 0px 3px 0px

.pagination-button
    a
        display: flex
        padding: 14px 16px
        background-color: transparent
        border-radius: 3px
        border: 1px solid transparent
        cursor: pointer
        transition: border .3s, background-color .3s
        align-items: center
        justify-content: center
        text-decoration: none
        
        color: $secondary-color


        &:hover
            background-color: #F4F4F4
            border: 1px solid #F4F4F4

.pagination-button.disabled
    a
        opacity: 0.4
        &:hover
            background-color: unset
            border-color: transparent

.order-list__page-select_current
    a
        color: $accent-color

.message-error
    margin-top: 32px
    color: $error-color