@import "../../common/vars"

.order-modal
    position: relative

    &__switcher
        width: 100%

    &__info
        z-index: 10
        position: absolute
        bottom: 50px
        top: 0
        left: -1000%
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        background-color: #fff
        opacity: 0
        transition: opacity .4s

        &.shown
            opacity: 1
            left: 0

        &-title
            font-size: 24px
            font-weight: bold
            margin-top: 10px

    &__text-input
        margin-top: 32px
        width: 100%

        .text-input__input
            padding-top: 12px
            padding-bottom: 12px

    &__quantity
        max-width: 100%
        width: 340px
        margin-top: 32px
        position: relative

        &-min
            left: 58px

        &-max
            right: 58px

        &-max, &-min
            bottom: -20px
            color: #A7A7A7
            font-size: 12px
            font-weight: 600
            position: absolute
            transition: color .3s

            &_triggered
                color: $error-color

    &__price
        font-size: 24px
        line-height: 26px
        font-weight: bold

        &-label
            font-size: 16px
            display: flex
            align-items: center
            transition: color .3s

            img
                width: 16px
                margin-right: 8px
                position: relative
                bottom: -1px
                display: none

            &_error
                color: $error-color

                img
                    display: block

        &-block
            margin-top: 56px
            display: flex
            justify-content: space-between
            align-items: flex-end
            width: 100%
            position: relative

        &-error
            display: flex
            width: 100%
            position: absolute
            justify-content: space-between
            bottom: -23px

            &-text
                color: $error-color

            &-link
                border: none
                background-color: transparent
                color: $accent-color
                text-decoration: underline
                cursor: pointer

    @media screen and (max-width: $sm)
        .order-modal
            &__price
                font-size: 20px
                order: 1

                &-label
                    order: 2
                    justify-content: center
                    width: 100%
                    margin-top: 4px
                    margin-bottom: 4px

                &-block
                    flex-wrap: wrap
                    justify-content: center

                &-error
                    flex-wrap: wrap
                    position: relative
                    bottom: 0
                    justify-content: center
                    order: 3

                    &-link
                        width: 100%
                        margin-top: 4px


            &__quantity
                &-min
                    left: 0

                &-max
                    right: 0


