@import "../../common/vars"

.lk-doer
    min-height: 100%

    &__main
        height: 100%
        overflow: hidden
        position: relative !important
        box-sizing: border-box

        *
            box-sizing: border-box

    &__tasks
        position: relative
        width: 100%

    &__socials
        position: relative

        &:after
            content: ''
            display: block
            height: 100%
            top: 0
            left: -300vw
            width: 1000vw
            background-color: #FAFAFA
            position: absolute
            z-index: -1
            border-bottom: 1px solid #D5D5D5
            box-sizing: border-box

        .title
            display: inline-block
            margin-top: 32px
            margin-left: 24px

    &__soc-selector
        box-sizing: border-box
        width: 100%
        margin: 0
        margin-top: 12px

        .soc-selector
            &__container
                padding-left: 24px
                padding-right: 0

    &__task-list
        padding: 24px
        padding-right: 15px

    &__task
        padding: 6px
        padding-left: 16px
        border: 1px solid transparent
        border-radius: 3px
        cursor: pointer
        display: flex
        align-items: center
        justify-content: space-between

        &:not(:last-child)
            margin-bottom: 8px

        &-picture
            height: 32px
            width: 32px
            opacity: .6
            margin-right: 16px
            filter: grayscale(100%)

        &-left, &-right
            display: flex
            align-items: center

        &-reject
            font-size: 22px
            height: 44px
            width: 44px
            padding: 0 !important
            display: flex
            align-items: center
            justify-content: center

        &-reward
            white-space: nowrap
            font-weight: 600
            color: #7A7A7A
            margin-right: 16px

        &:hover
            border-color: #D9D9D9

    &__container
        display: flex
        height: 100%
        margin-left: auto
        margin-right: auto
        max-width: $template-width
        padding-left: 370px

        &_fullscreen
            padding-left: 15px

            .lk-doer
                &__socials
                    &-title
                        margin-left: 0

                &__soc-selector
                    .soc-selector__container
                        padding-left: 0

                &__task-list
                    padding-left: 0
                    padding-right: 0

    @media screen and (max-width: 1370px)
        &__container
            &_fullscreen
                padding-left: 85px

    @media screen and (max-width: $lg)
        &__container
            &_fullscreen
                padding-left: 70px

                .lk-doer
                    &__socials
                        &-title
                            margin-left: 15px

                    &__soc-selector
                        .soc-selector__container
                            padding-left: 15px

                    &__task-list
                        padding-left: 15px
                        padding-right: 15px

        &__soc-selector
            margin: 0

            .soc-selector
                &__container
                    padding-left: 24px

    @media screen and (max-width: $sm)
        &__container
            &_fullscreen
                padding-left: 50px

        &__task-list
            padding-right: 15px
            padding-left: 15px

        &__socials
            .title
                margin-left: 15px

        &__soc-selector
            .soc-selector__container
                padding-left: 15px

        &__task
            padding-left: 6px

            &-picture
                margin-right: 6px
                min-width: 32px