@import "../common/vars"

.auth
    &-container
        display: flex
        flex-direction: column
        align-items: center
        width: 100%

    &-title
        font-size: 24px
        font-weight: bold

    &-form
        margin-top: 43px
        margin-bottom: 12px
        width: 100%

    &-advice
        margin-top: 12px
        text-align: center

        span
            margin-right: 8px

    &-input
        &:not(:first-child)
            margin-top: 32px

    &-submit
        margin-top: 32px
        width: 100%
        font-size: 16px

    &-description
        font-size: 16px
        text-align: center
        margin: 12px 0 0 0
        line-height: 150%

    &-message+&-advice
        margin-top: 0
