@import "../vars"

.accent-button
    display: block
    padding: 14px 30px
    color: $white-color
    border-radius: 3px
    border: none
    cursor: pointer
    box-shadow: 0 0 0 rgba(0,0,0,0)
    transition: box-shadow .3s, background-color .3s, color .3s

    &:hover
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)

    &_accent
        background-color: $accent-color

    &_dark
        background-color: #F4F4F4
        color: $secondary-color

        &:hover
            box-shadow: none
            color: $white-color
            background-color: $secondary-color

    &:disabled
        color: #A0A0A0
        background-color: #F4F4F4
        cursor: default

        &:hover
            box-shadow: none