@import "../vars"

.v--modal-box
    max-width: 552px
    width: 100% !important
    margin-left: auto
    left: 0 !important
    margin-right: auto
    box-sizing: border-box

.v--modal-background-click
    box-sizing: border-box
    padding-left: 15px
    padding-right: 15px

.modal
    &__container
        max-width: 408px
        margin-left: auto
        margin-right: auto
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

    &__main-button
        width: calc(100% + 30px)
        margin-left: -15px
        border-radius: 0
        height: 56px
        font-size: 16px
        display: inline-block

    &__header
        padding: 10px
        display: flex
        justify-content: flex-end

    &__close-modal
        cursor: pointer

        *
            stroke: black
            transition: stroke .3s

        &:hover
            *
                stroke: $error-color

    &__content
        padding-left: 15px
        padding-right: 15px
        display: flex
        position: relative
        bottom: -2px
        flex-direction: column

    &__link
        border: none
        color: $accent-color
        background-color: transparent
        text-decoration: underline
        cursor: pointer
        padding: 0

    @media screen and (max-width: $sm)
        .modal
            &__close-modal-border
                display: none
