@import "../vars"

.number-input
    display: flex
    width: 100%
    align-items: flex-end
    justify-content: center

    .number-input__quantity-control
        background-color: #F4F4F4

        svg
            *
                stroke: black

        &:hover
            background-color: $secondary-color

            svg
                *
                    stroke: $white-color

    &__quantity-input
        font-size: 16px
        margin-left: 8px
        margin-right: 8px
        width: 100%

        .text-input
            &__input
                padding-top: 12px
                padding-bottom: 12px


    @media screen and (max-width: $sm)
        .number-input
            &__quantity-input
                .text-input
                    &__label
                        top: -14px
