@import "../common/vars"
.landing
    &__inner
        height: 100%

    .landing-header, .landing-footer
        padding-top: 10px
        padding-bottom: 10px

        &__logo
            font-size: 20px
            text-decoration: none
            font-weight: bold

        &__container
            align-items: center
            justify-content: space-between

        &__right-side
            align-items: center
            display: flex

        &__contact-button
            height: 44px
            width: 44px
            padding: 0

        &__link
            text-decoration: none
            transition: color .2s
            margin-left: 40px

            &:hover
                text-decoration: underline


        &__contact-button
            &:nth-child(2)
                margin-left: 8px

        &__auth-link
            color: $secondary-color
            text-decoration: none

            &:nth-child(3)
                margin-left: 40px
                margin-right: 24px
                position: relative

                &:after
                    position: absolute
                    content: ""
                    right: -24px
                    top: -5px
                    display: block
                    height: 32px
                    width: 1px
                    background-color: #000000
                    opacity: .15

            &:last-child
                margin-left: 24px

            &:hover
                text-decoration: underline

.landing
    height: 100%

    section
        overflow-x: hidden
        padding-top: 140px

        .container
            flex-direction: column

        .section-title
            font-size: 36px
            font-weight: 600
            margin-left: auto
            margin-right: auto

        .big-padding-size-col
            padding: 0 36px

        &#main-screen
            padding: 0
            height: 100%

            .container
                height: 100%
                display: flex
                align-items: center
                justify-content: center
                position: relative

    .landing-index
        height: 100%

        &__main-screen
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            position: relative
            text-align: center

            &-content
                position: relative

            &-products
                position: absolute
                bottom: 100%
                left: 0
                right: 0
                display: flex
                justify-content: center
                margin-bottom: 40px

            &-product
                display: flex
                flex-direction: column
                align-items: center

                &:not(:last-child)
                    margin-right: 64px

                &-title
                    margin-top: 12px
                    font-size: 18px

            &-title
                line-height: 64px
                font-size: 64px
                font-weight: bold

            &-choosing
                position: absolute
                bottom: 0
                display: flex
                justify-content: center
                left: 0
                width: 100%
                padding: 0 15px
                -webkit-box-sizing: border-box
                -moz-box-sizing: border-box
                box-sizing: border-box

                .choosing
                    width: 100%
                    max-width: 934px
                    position: relative
                    display: flex
                    justify-content: space-between

                    &__title
                        font-size: 18px
                        margin: 0 15px
                        white-space: nowrap

                    &__content
                        position: absolute
                        top: 40px
                        align-items: center
                        width: 100%
                        left: 0
                        display: flex
                        z-index: 100
                        justify-content: space-between
                        padding: 0 71px
                        box-sizing: border-box

                    &__right-hand
                        transform: scale(-1, 1)

    @media screen and (max-width: $xl)
        section
            padding-top: 120px

    @media screen and (max-width: $md)
        .landing-index
            &__main-screen
                &-content
                    box-sizing: border-box
                    padding-left: 15px
                    padding-right: 15px

                &-title
                    font-size: 48px

                &-product
                    &:not(:last-child)
                        margin-right: 40px

                &-choosing
                    .choosing
                        &__left-hand, &__right-hand
                            display: none

                        &__content
                            top: unset
                            bottom: 100px
                            flex-direction: column

                        &__link
                            margin-top: 15px

                            &:nth-child(1)
                                order: 2

                            &:nth-child(3)
                                order: 3

                        &__title
                            order: 1

        section
            .big-padding-size-col
                padding: 0 15px

    @media screen and (max-width: $sm)
        .landing-index
            &__main-screen
                &-products
                    flex-wrap: wrap
                    margin-bottom: 45px

                &-product
                    width: 40%
                    margin-right: 0 !important

                    &:nth-child(n+3)
                        margin-top: 20px

                    &-title
                        font-size: 14px
                        margin-top: 5px

                &-title
                    font-size: 36px
                    line-height: 48px

                &-choosing
                    .choosing
                        &__content
                            padding: 0
                            bottom: 60px

        section
            .section-title
                font-size: 24px
                text-align: center

    @media screen and (max-width: $xs)
        .landing-index
            &__main-screen
                &-products
                    flex-wrap: wrap
                    margin-bottom: 30px

                &-product
                    &-title
                        font-size: 12px

                &-title
                    font-size: 32px
                    line-height: 36px

                &-choosing
                    .choosing
                        &__content
                            padding: 0
                            bottom: 40px