// Colors
$accent-color: #001AFF
$secondary-color: #222222
$white-color: #FFFFFF
$error-color: #E01D1D
$waiting-color: #F87E0D

// Grid
$template-width: 1200px
$column-padding: 15px

// Fonts
$main-font-size: 14px
