// Colors
$accent-color: #001AFF
$secondary-color: #222222
$white-color: #FFFFFF
$error-color: #E01D1D
$handling-color: #F87E0D
$access-color: #2BBD4B
$doer-color: #DA3131

// Grid
$template-width: 1200px
$column-padding: 15px
$min-template-width: 1050px
$xs-template-width: 792px

// Fonts
$main-font-size: 14px

// Breakpoints
$xl: 1200px
$lg: 960px
$md: 767px
$sm: 540px
$xs: 320px
