@import "vars"
@import "fonts"

body, html, #app
    margin: 0
    padding: 0
    height: 100%

.page-transition
    height: inherit
    width: inherit

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
    -webkit-text-fill-color: $secondary-color
    -webkit-box-shadow: 0 0 0px 1000px transparent inset
    transition: background-color 5000s ease-in-out 0s

*
    outline: none

a
    color: $accent-color

.mobile-only
    display: none

body
    font-family: "Segoe UI"
    color: $secondary-color
    font-size: $main-font-size

@media screen and (max-width: $sm)
    .mobile-only
        display: unset