@import "vars"
@import "fonts"

body, html
    margin: 0
    padding: 0
    height: 100%

*
    outline: none

a
    color: $accent-color

body
    color: $secondary-color
    font-size: $main-font-size
    font-family: "Segoe UI"